{%- comment -%} Dynamic Style {%- endcomment -%}
<style>
    .my-acb {
        text-align: center;
        padding: {{ section.settings.acb_padding }}px 0;
        font-size: {{section.settings.font_size}}px;
        text-align: {{ section.settings.acb_alignment }};
        color: {{ section.settings.acb_color }};
        background: {{ section.settings.acb_background }};
    }
</style>

{%- comment -%}
Dynamic Announcement Bar
{%- endcomment -%}

{% if section.settings.show_announcement %}

<div class="my-acb">
    {{ section.settings.acb_text }}
</div>

{% endif %}

<div>
    {{ section.settings.show_html}}
    
</div>
{%- comment -%}
<div>
    <img src="{{ section.settings.logo_image | img_url: '100*200' }}" alt=""/>
</div>
{%- endcomment -%}

{%- comment -%}
 Shopify Schema
{%- endcomment -%}


{% schema %}
    {
        "name": "Announcement Bar",
        "settings" : [

            {
                "type": "checkbox",
                "id": "show_announcement",
                "label": "Show announcement",
                "default": true
            },
            {
                "type": "text",
                "id": "acb_text",
                "label": "Heading",
                "default": "Enter a Heading"
            },
            {
                "type": "range",
                "id": "acb_padding",
                "min": 6,
                "max": 24,
                "step": 1,
                "unit": "px",
                "label": "Padding",
                "default": 10
            },
            {
                "type": "range",
                "id": "font_size",
                "min": 6,
                "max": 24,
                "step": 1,
                "unit": "px",
                "label": "Font Size",
                "default": 10
            },
            {
                "type": "radio",
                "id": "acb_alignment",
                "label": "Text Alignment",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }
                ],
                "default": "center"
            },
            {
            "type": "color",
            "id": "acb_color",
            "label": "Font Color",
            "default": "#000000"
            },
            {
            "type": "color_background",
            "id": "acb_background",
            "label": "Background",
            "default": "linear-gradient(#ffffff, #000000)"
            },
            {
                "type":"html",
                "id": "show_html",
                "label": "Write Custom HTML Code"
                
            },
            {
                "type": "image_picker",
                "id": "logo_image",
                "label": "Add Image",
                "info": "Image will be 100*200"
            }





        ]

    }
{% endschema %}

